.header{
    height: 60px;
    width: 100%;
    float: left;
}
.header h4{
    margin-left: 40px;
    float: left;
    line-height: 50px;
    
}
.header a{
    text-decoration: none;
    color: white;
    float: left;
    line-height: 50px;
    margin-left: 10px;
}
.header a:hover{  
    color: white; 
}
#submit{
    margin-top: 10px;
    margin-left: 10px;
    float: left;
  }
  #search{
    float: left;
    width: 90%;
    margin-top: 10px;
    margin-left: 20px
  }

  .row{
      float: left;
      width: 100%;
      margin: 0;
      margin-left: 10px;
      padding-left: 20px;
      
  }
  .card{
      height: 500px;
      margin-top: 20px;
      overflow: hidden;
      width: auto;
     
    }
    .card-title a{
        text-decoration: none;
        color: black;
    }

    @media screen and (max-width: 700px){
        #submit{
          width: 90%;
          margin-left: 20px
        }

    }

